:root{
    --bg: #fff5e5;
    --nbg: #7cd5ff;
    --black: #616161;
    --darkblue: #16123F;
    --skyblue: #3678C2;
    --white: #ffffff;
    --formbg: #1084a5;
    --text: #012038;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;

  }
  nav{
    display: flex;
    flex-wrap: wrap;
    font-size: 8vw;
    width: 100%;
    background: var(--white);
    justify-content: center;
    margin: 30px 0 5px 0;
    color: var(--text);
  }
  marquee{
    background-color: var(--formbg);
    height: 50px;
    direction:"left";
    align-items: center;
  }
  .headline{
  font-size: 30px;
  color: var(--white);
  font-family: 'Lora', serif;
  padding: auto;
  margin: 10px 0 10px 0;
}
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
    height: auto;
    background-color: var(--bg);
    /* padding: 40px; */
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    /* justify-content: center; */
    animation-name: newsbackground;
    animation-duration: 5s;
    animation-iteration-count:infinite;
  }
  @keyframes newsbackground {
    0%   {background-color:var(--bg);}
    25%  {background-color:#b7d2ec9b;}
    50%  {background-color:#b3f3d395;}
    75%   {background-color:var(--bg);}
    90%  {background-color:#b7d2ec8f;}
    100% {background-color: var(--bg);}
  }

  .news{
    width: 380px;
    background-color: var(--white);
    border-radius: 15px 15px 15px 15px;
    margin: 30px;
  }
  .news:hover{
    border: 1px;
    border-color: var(--skyblue);
    border-style: solid;
    background-color: var(--nbg);
  }
  .news .n1{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n1.jpeg");
    background-size: contain;
  }
  .news .n2{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n2.jpeg");
    background-size: contain;
  }
  .news .n3{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n3.jpeg");
    background-size:contain;
  }
  .news .n4{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n4.jpeg");
    background-size: contain;
  }
  .news .n5{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n5.jpeg");
    background-size: contain;
  }
  .news .n6{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n6.jpeg");
    background-size: contain;
  }
  .news .n7{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n7.jpeg");
    background-size: contain;
  }
  .news .n8{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n8.jpg");
    background-size: contain;
  }
  .news .n9{
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    background-image: url("img/n9.webp");
    background-size: contain;
  }
 
  
  .news .news_text{
    font-size: 17px;
    text-align: justify;
    color: var(--text);
    font-family: 'EB Garamond', serif;
    padding: auto;
    margin: 15px;
  }
  #footer {
    background: #58aafc;
    color: #000000;
    font-size: 18px;
    text-align: center;
    height: 50px;
    margin: 10px;
    padding: 10px;

  }
  


  