@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

:root{
  --bg: #fff5e5;
  --nbg: #7cd5ff;
  --skyblue: #3678C2;
  --white: #ffffff;
  --headingbg: #1084a5;
  --text: #012038;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
  }
  nav{
    display: flex;
    justify-content: center;
    font-size: 8vw;
    color: var(--text);
  }
  marquee{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--headingbg);
    height: 5vw;
    align-items: center;
    margin: 10px 0 10px 0;
  }
  marquee .headline{
  font-size: 2vw;
  color: var(--white);
  font-family: 'Lora', serif;
  padding: auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    max-width: 1400px;
    background-color: var(--bg);
    border-radius: 5px 5px 5px 5px;
    animation-name: newsbackground;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
@keyframes newsbackground {
  0%   {background-color:var(--bg);}
  25%  {background-color:#b7d2ec9b;}
  50%  {background-color:#b3f3d395;}
  75%  {background-color:var(--bg);}
  90%  {background-color:#b7d2ec8f;}
  100% {background-color: var(--bg);}
}
#newsitems{
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.news{
    width: 380px;
    background-color: var(--white);
    border-radius: 15px 15px 15px 15px;
    margin: 30px;
}
.news:hover{
    border: 1px;
    border-color: var(--skyblue);
    border-style: solid;
    background-color: var(--nbg);
}
.news .n1{
  background-image: url("img/n1.jpeg");
}
.news .n2{
  background-image: url("img/n2.jpeg");
}
.news .n3{
  background-image: url("img/n3.jpeg");
}
.news .n4{
  background-image: url("img/n4.jpeg");
}
.news .n5{
  background-image: url("img/n5.jpeg");
}
.news .n6{
  background-image: url("img/n6.jpeg");
}
.news .n7{
  background-image: url("img/n7.jpeg");
}
.news .n8{
  background-image: url("img/n8.jpg");
}
.news .n9{
  background-image: url("img/n9.webp");
}
.news .news_text{
    font-size: 17px;
    text-align: justify;
    color: var(--text);
    margin: 15px;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--headingbg);
    color: var(--white);
    font-size: 1vw;
    height: 3vw;
  }
  @media only screen and (max-width: 600px) {
    nav{
      background-color: var(--text);
      color: var(--white);
    }
  }